*{
    margin: 0;
    padding: 0;
}

.first{
    
    border: 1px solid rebeccapurple;
    height: 10vh;
    width: 90vw;
    margin-top: 10px;
}
.logo{
    display: flex;
    justify-content: left;
    align-items: center;
}
.logotext{
    color: deeppink;
}
.second{
    border: 1px solid orangered;
    height: 12vh;
    width: 70vw;
    box-shadow: -4px 3px 5px 0px rgb(110, 106, 110);
    border-radius: 25px;
    margin-top: 10px;
}
nav{
border: 1px solid green;
width: 100vw;
height:8vh;
}
main{
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-auto-rows: 500px;
    gap: 20px;
    margin-top: 10px;
}
.guest-favs{
border: 1px solid black;
border-radius: 10px;
}