* {
  margin: 0;
  padding: 0;
}

.first {
  border: 1px solid rebeccapurple;
  height: 10vh;
  width: 90vw;
  margin-top: 10px;
}
.second {
  border: 1px solid orangered;
  height: 12vh;
  width: 70vw;
  box-shadow: -4px 3px 5px 0px rgb(110, 106, 110);
  border-radius: 30px;
  margin-top: 10px;
  margin-left: 10px;
  display: grid;
  place-content: center;
}

.second_div {
  width: 66vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: black;
  background-color: white;
}

.where {
  width: 22vw;
  border-right: 1px solid black;
}

.where h1 {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.where p {
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
  
}

.checkin {
  width: 11vw;
  border-right: 1px solid black;
  padding-left: 10px;
}

.checkin h1 {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.checkin p {
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
}

.checkout {
  width: 11vw;
  border-right: 1px solid black;
  padding-left: 10px;
}

.checkout h1 {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.checkout p {
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
}

.whoSearch {
  width: 22vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.whoSearch h1 {
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
}

.whoSearch p {
  font-size: smaller;
  font-family: Arial, Helvetica, sans-serif;
}


.who {
  width: 80%;
  padding-left: 10px;
}

.whoSearch i {
  width: 20%;
  height: 40px;
  border: 1px solid red;
  border-radius: 50%;
  color: white;
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  border: 1px solid green;
  width: 100vw;
  height: 8vh;
}
main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 500px;
  gap: 20px;
  margin-top: 10px;
}
.guest-favs {
  border: 1px solid black;
  border-radius: 10px;
}
